{% extends "common/base.html" %}
{% block content %}
    <h2 class="text-lg-start text-center mt-3">#{{ object.name }} </h2>
    <hr>

    <div class="px-lg-3 infinite-container">
        {% for object in object_list %}
            {% include "common/post.html" %}
        {% endfor %}
    </div>
    {% if page_obj.has_next %}
        <a class="infinite-more-link"
           href="?page={{ page_obj.next_page_number }}"></a>
    {% endif %}
    {% include "common/spinner.html" %}
{% endblock content %}
