{% extends "common/base.html" %}
{% block content %}
    <div class="mb-3">
        {% include "accounts/profile_card.html" %}
        <div class="mt-3 ">
            <nav class="nav nav-pills d-flex flex-column flex-md-row justify-content-md-center text-center">
                <a class="nav-link active" href="{% url 'profile_page' object.pk %}">Posts</a>
                <a class="nav-link" href="{% url 'profile_followers_page' object.pk %}">Followers: {{ object.followers.count }}</a>
                <a class="nav-link" href="{% url 'profile_following_page' object.pk %}">Following: {{ object.following.count }}</a>
            </nav>
        </div>
    </div>
    <hr>
    {% if user == object %}
        {% include "posts/new_post_form.html" %}
        <hr>
    {% endif %}
    <div class="px-lg-3 infinite-container">
        {% for object in object_list %}
            {% include "posts/post.html" %}
        {% endfor %}
    </div>
    {% if page_obj.has_next %}
        <a class="infinite-more-link"
           href="?page={{ page_obj.next_page_number }}"></a>
    {% endif %}
    {% include "common/spinner.html" %}
{% endblock content %}
