{% load search_tags %}
{% load humanize %}
{% if user.is_authenticated %}
  <nav class="p-2 navbar navbar-light navbar-expand bg-light">
    <div class="container-fluid flex-wrap align-items-center">
      <div class="order-1">
        <a class="navbar-brand fs-3" href="{% url 'feed_page' %}">MicroBlog</a>
      </div>
      <div class="order-2 order-md-3">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link d-flex align-items-center d-block position-relative"
               href="#"
               id="navbarDropdown"
               role="button"
               data-bs-toggle="dropdown"
               data-bs-display="static"
               aria-expanded="false">
              {% if user.unread_notifications.count > 0 %}
                <i class="fs-2 bi bi-bell-fill"></i>
                <span class="position-absolute top-25 start-75 translate-middle p-2 bg-danger border border-light rounded-circle">
                  <span class="visually-hidden">{{ user.unread_notifications.count }}</span>
                </span>
              {% else %}
                <i class="fs-2 bi bi-bell"></i>
              {% endif %}
            </a>
            <ul class="dropdown-menu dropdown-menu-end notification-menu"
                aria-labelledby="navbarDropdown">
              <li>
                <a href="{% url 'notifications_page' %}" class="dropdown-item">View all notifications</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              {% for notif in user.unread_notifications|slice:20 %}
                <li>
                  <a class="dropdown-item" href="{{ notif.get_absolute_url }}">
                    <p class="mb-0">
                      {% include "common/notification.html" with object=notif %}
                      <br>
                      <span class="text-muted">{{ notif.timestamp | naturaltime }}</span>
                    </p>
                  </a>
                </li>
              {% empty %}
                <li>
                  <span class="dropdown-item-text">No unread notifications</span>
                </li>
              {% endfor %}
              {% if user.unread_notifications.count > 20 %}
                <li>
                  <a href="{% url 'notifications_page' %}"
                     class="dropdown-item text-muted">And {{ user.unread_notifications.count|add:"-20" }} more...</a>
                </li>
              {% endif %}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link"
               href="#"
               id="navbarDropdown"
               role="button"
               data-bs-toggle="dropdown"
               data-bs-display="static"
               aria-expanded="false">
              {% include "common/avatar.html" with object=user avatar_height="40px" avatar_width="40px" no_fluid=True %}
            </a>
            <ul class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="{% url 'profile_page' user.pk %}">Profile</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <form action="{% url 'logout_page' %}">
                  {% csrf_token %}
                  <button class="dropdown-item" type="submit">Logout</button>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="order-3 order-md-2 col-md-4 col-12">
        <form action="{% url 'search_result_page' %}">
          <div class="input-group">
            {% search_form %}
            <button class="btn btn-outline-secondary" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </nav>
{% endif %}
